/* header{
  position: fixed;
  width: 100%;
} */
.header-logo {
  max-height: 40px;
}

.header-top {
  background-color: black;
  padding: 20px 0px;

}

.header-bottom {
  background-color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* alt gölge efekti */
   z-index: 100;
  position: relative;
}

.nav-link {
  font-weight: 500;
  font-size: 20px !important;
  transition: color 0.3s ease;
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
}

.nav-link:hover {
  color: #ddd !important;
}
