.section-two {
  background-color: #1b1b1b;
  /* padding-top: 300px; */
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.sectionTwo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 50px; */
}
.orange-mainbackground {
  position: relative;
  width: 40%;
  height: 535px;
}

.orange-background {
  width: 100%;
  height: 360px;
  background-color: #ffcfcf;
  border-radius: 100px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: -50;
  z-index: 0;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 535px;
  z-index: 2;
  position: relative;
}

.sectionTwo-text {
  width: 60%;
}
.sectionTwo-text-muted {
  /* font-weight: 500; */
  font-size: 25px;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.sectionTwo-text h2 {
  font-size: 78px;
  line-height: 86px;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
  color: #ffffff;
}

/* Responsive uyum için */
@media (max-width: 991px) {
  .sectionTwo-content {
    flex-direction: column;
    text-align: center;
  }

  .green-background {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768.98px) {
  .section-two {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .orange-mainbackground {
    width: 100%;
    height: 335px;
  }
  .orange-background {
    height: 335px;
  }
  .orange-mainbackground .image {
    height: 335px;
  }
  .sectionTwo-text {
    width: 100%;
  }
  .sectionTwo-text h2 {
    font-size: 38px;
    line-height: 46px;
  }
  .sectionTwo-text-muted {
    font-weight: 500;
    font-size: 16px;
  }
}
